@model FranciscoWinery.Models.ApiResult

@{
  ViewBag.Title = "Francisco's Winery";
}

<div class="jumbotron">
  <h1>winery.NET</h1>
  <p class="lead">Francisco's Winery is the place to get your booze.</p>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form method="get" action="@Url.Action("Search")" 
            data-otf-ajax="true" data-otf-target="#searchresults">

        <input type="search" name="q" id="q" data-otf-autocomplete="@Url.Action("Autocomplete")" />
        <input type="submit" class="btn btn-primary btn-sm" value="Search">
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div>
  @Html.Partial("_SearchResult", Model)
</div>

